<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<h3>Trackable Entities Demo:</h3>
<p>New Product: <input #newFood type="text" placeholder="Enter a new food" value="Carrots"></p>
<button (click)="increasePrice()">Modify products</button>
<button (click)="addProduct(newFood.value)">Add product</button>
<button (click)="deleteProduct(newFood.value)">Delete product</button>
<button (click)="toggleTracking()">Toggle tracking</button>
Tracking: {{tracking}}
<app-child-trackable [products]="foodEntities"></app-child-trackable>
